{% extends "index.html" %} {% block content %}
<section
  class="hero-wrap hero-wrap-2 position-relative"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../static/images/image_22.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <!-- Optional: extra soft overlay -->
  <div
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(2px);
      z-index: 0;
    "
  ></div>

  <div class="container position-relative" style="z-index: 1">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center text-white">
        <h1 class="mb-2 bread">Staff Members</h1>
        <p class="breadcrumbs">
          <span class="mr-2">
            <a href="index.html" class="text-white"
              >Home <i class="ion-ios-arrow-forward"></i
            ></a>
          </span>
          <span class="text-white"
            >Staff <i class="ion-ios-arrow-forward"></i
          ></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(../static/images/teacher-3.jpeg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Pamela Keno</h3>
            <span class="position mb-2">Chairperson</span>
            <div class="faded">
              <p>
                In charge of leading the organization’s strategic vision,
                ensuring mission alignment, and overseeing governance and
                partnerships
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-google-plus"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(../static/images/teacher-5.jpeg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Nathaniel Rono</h3>
            <span class="position mb-2">Vice Chairperson</span>
            <div class="faded">
              <p>
                In charge of supporting the chairperson and stepping in to lead
                operational or strategic duties when the chair is unavailable.
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-google-plus"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(../static/images/teacher-6.jpeg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Yusila Jepkorir</h3>
            <span class="position mb-2">Admin</span>
            <div class="faded">
              <p>
                In charge of managing daily operations, coordinating activities,
                and ensuring smooth communication between teams, volunteers, and
                stakeholders.
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-google-plus"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(../static/images/teacher-2.jpeg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Micnon Chepkirui</h3>
            <span class="position mb-2">Physiotherapist</span>
            <div class="faded">
              <p>
                In charge of helping children improve mobility, coordination,
                and strength through personalized physical therapy exercises.
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-google-plus"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(../static/images/teacher-1.jpeg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Laureen</h3>
            <span class="position mb-2">Nutritionist</span>
            <div class="faded">
              <p>
                In charge of guiding caregivers on proper nutrition to improve
                children’s growth, health, and development.
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-google-plus"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(../static/images/teacher-4.jpeg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Paul Keno</h3>
            <span class="position mb-2">Biblical counselor</span>
            <div class="faded">
              <p>
                In charge of offering spiritual and emotional support to
                families through the instructions of the Lord Jesus Christ.
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-google-plus"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
